nav {
  box-shadow: 0 0 5px lightgrey;
}

.navbar-brand {
  color: black;
  line-height: 2em;
}
.navbar-brand img {
  width: 45px;
  margin-right: 20px;
}

#language {
  float: right;
}
.img-container {
  width: 45px;
  float: right;
  margin-right: 20px;
}

.img-container img {
  width: 100%;
}
