<nav class="navbar navbar-expand-lg justify-content-between">
  <a class="navbar-brand" routerLink="">
      <img src="assets/icons/icon-96x96.png" class="d-inline-block align-bottom" alt="">
  </a>

  <div id="language">
    <div class="img-container" *ngIf="translate.currentLang !== 'en'" (click)="useLanguage('en')">
      <img src="assets/flag/en.svg" alt="British flag">
    </div>
    <div class="img-container" *ngIf="translate.currentLang !== 'fr'" (click)="useLanguage('fr')">
      <img src="assets/flag/fr.svg" alt="Drapeau francais">
    </div>
  </div>

</nav>
