<p>{{'form.pro.hereby' | translate}}</p>
<form [formGroup]="proForm">
  <table class="table table-borderless">
    <tbody>
    <tr>
      <td>{{'form.pro.manager.label' | translate}}.</td>
      <td><input name="name"
                 formControlName="name"
                 class="form-control"
                 placeholder="{{'form.pro.manager.phdr' | translate}}"></td>
    </tr>

    <tr>
      <td>{{'form.pro.function.label' | translate}}</td>
      <td><input name="position"
                 formControlName="position"
                 class="form-control"
                 placeholder="{{'form.pro.function.phdr' | translate}}"></td>
    </tr>

    </tbody>
  </table>

  <p class="text-justify" [innerHTML]="'form.pro.certify' | translate"></p>

  <table class="table table-borderless">
    <tbody>
    <tr>
      <td style="width: 40%">{{'form.pro.lastname.label' | translate}}</td>
      <td><input name="lastname"
                 formControlName="lastname"
                 class="form-control"
                 placeholder="{{'form.pro.lastname.phdr' | translate}}"></td>
    </tr>

    <tr>
      <td>{{'form.pro.firstname.label' | translate}}</td>
      <td><input name="firstname"
                 formControlName="firstname"
                 class="form-control"
                 placeholder="{{'form.pro.firstname.phdr' | translate}}"></td>
    </tr>

    <tr>
      <td>{{'form.pro.dob.label' | translate}}</td>
      <td class="col-auto">
        <div class="input-group">
          <input [owlDateTime]="birthdayElt" [owlDateTimeTrigger]="birthdayElt"
                 formControlName="birthday" class="form-control" placeholder="{{'form.pro.dob.phdr' | translate}}">
          <owl-date-time [startAt]="startAt" [startView]="'multi-years'" [pickerType]="'calendar'"
                         #birthdayElt></owl-date-time>
          <div class="input-group-append border-dark">
            <div class="input-group-text bg-dark border-dark trigger" style="cursor: pointer"
                 [owlDateTimeTrigger]="birthdayElt">
              <i class="fa fa-calendar-alt text-white"></i>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>{{'form.pro.pob.label' | translate}}</td>
      <td><input name="pob"
                 formControlName="pob"
                 class="form-control"
                 placeholder="{{'form.pro.pob.phdr' | translate}}">
      </td>
    </tr>

    <tr>
      <td>{{'form.pro.living.label' | translate}}</td>
      <td><input name="address"
                 formControlName="address"
                 class="form-control"
                 placeholder="{{'form.pro.living.phdr' | translate}}">
      </td>
    </tr>

    <tr>
      <td>{{'form.pro.activity.label' | translate}}</td>
      <td>
        <input name="activity"
               formControlName="activity"
               class="form-control"
               placeholder="{{'form.pro.activity.phdr' | translate}}"/>
      </td>
    </tr>

    <tr>
      <td>{{'form.pro.place.label' | translate}}</td>
      <td><input name="workplace"
                 formControlName="workplace"
                 class="form-control" placeholder="{{'form.pro.place.phdr' | translate}}">
      </td>
    </tr>

    <tr>
      <td>{{'form.pro.means.label' | translate}}</td>
      <td><input name="mean"
                 formControlName="mean"
                 class="form-control"
                 placeholder="{{'form.pro.means.phdr' | translate}}"></td>
    </tr>

    <tr>
      <td>{{'form.pro.validity.label' | translate}}</td>
      <td><input name="validity"
                 formControlName="validity"
                 class="form-control"
                 placeholder="exp: Du lieu de travail vers le dépôt se trouvant au...">
      </td>
    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <tbody>
    <tr>
      <td>{{'form.pro.doneAt.label' | translate}}</td>
      <td>
        <input name="city"
               formControlName="city"
               class="form-control"
               placeholder="{{'form.pro.doneAt.phdr' | translate}}">
      </td>
    </tr>

    <tr>
      <td>{{'form.pro.when' | translate}}</td>
      <td class="col-auto">
        <div class="input-group">
          <input [min]="today" [owlDateTime]="todayElt" [owlDateTimeTrigger]="todayElt"
                 formControlName="today" class="form-control" [value]="today">
          <owl-date-time [pickerType]="'calendar'" #todayElt></owl-date-time>
          <div class="input-group-append border-dark">
            <div class="input-group-text bg-dark border-dark trigger" style="cursor: pointer"
                 [owlDateTimeTrigger]="todayElt">
              <i class="fa fa-calendar-alt text-white"></i>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td></td>
      <td>
        <a [href]="downloadUrl" [download]="downloadName" class="btn btn-success float-right text-white" type="button">
          <i class="fas fa-file-download"></i> {{'form.pro.download' | translate}}
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</form>
